.menuNavigation {
    display: flex;
    justify-content: space-between;
    padding: 24px 72px;

}

.menuNavigation ul{
    display: flex;
    justify-content: end;
    gap: 56px;    

}

.menuNavigation li{
    font-size: 15px;
    color: black;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;  

}


.menuNavigation a {
    text-decoration: none;
    color: blueviolet;

}


a:visited {
    color: forestgreen;
    text-decoration-color: hotpink;
  
}


.menuNavigation li:hover {
    color:blueviolet;
    cursor: pointer;
}

.menuNavigation img {
    height: 100%;
    width: 100px;

}

a.active{
    color:brown;
}