.textWithLogo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
    padding-top: 80px;
}

.textWithButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textWithButton h4{
    text-align: center;
}

.logo-text-with-logo{
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
}


.textWithLogo button {
    font-size: 20px;
    width: 400px;
}






